* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background: #2b2b2b;
}
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
}
input {
  outline: none;
}
body {
  background: #0f0f0f;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #ebebeb;
  font-size: 12px;
  line-height: 16.2px;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

.status-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  &.success {
    background: #00c9224d;
    color: #00c922;
    padding: 2px 7px;
    border-radius: 5px;
  }
  &.danger {
    color: #f20202;
    background: #f202024d;
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
.green-btn,
.primary-btn {
  background: #00c922;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  color: #0f0f0f;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}
.primary-btn {
  background: #51a3cf;
}

// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 auto;
  button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company-name {
    font-family: 'Satoshi';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
  &-flex__box {
    display: flex;
    align-items: center;
  }
}
// header

// intro
.intro {
  &-header {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #2b2b2b;

    &__title {
      font-size: 10px;
      font-weight: 500;
      line-height: 13.5px;
      color: #8a8a8a;
    }
  }
  .edit-btn {
    border: 1px solid #2b2b2b;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 6px;
    border-radius: 4px;
    color: #8a8a8a;
  }
  &-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 8px;
    &-contents {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__boxes {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &__box {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .long-text {
      width: 55px;
    }
    &__text {
      color: #8a8a8a;
    }
    .line {
      width: 1px;
      height: 8px;
      border-radius: 2px;
      display: block;
      background: #8a8a8a;
    }
    &__title {
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
    }
  }
  &-bottom__content {
    margin-top: 20px;
    .intro-info__text {
      min-width: 91px;
    }
    .intro-info__boxes {
      gap: 8px;
      width: 100%;
    }
    .intro-info__box {
      justify-content: space-between;
    }
    .intro-info__title {
      font-weight: 400;
    }
  }
  &-body {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px 0 8px;

    .line {
      width: 1px;
      height: 40px;
      border-radius: 2px;
      background: #2b2b2b;
    }
  }
}
// intro

// chart sec
.chart-sec {
  margin-top: 16px;
  .chart-bg {
    height: 192px;
    border-radius: 8px;
    overflow: hidden;
    background: url(../images/icons/frm.svg) no-repeat;
    background-size: cover;
    border-bottom: 1px solid #2b2b2b;
    .chart-img {
      width: 100%;
      height: 100%;
    }
  }
  .chart-btns {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;

    .stop-btn,
    .restart-btn {
      font-size: 15px;
      font-weight: 700;
      line-height: 20.25px;
      color: #0f0f0f;
      border-radius: 4px;
      background: #00c922;
      width: 100%;
      padding: 8px 10px;
    }
    .stop-btn.stop {
      background: #fd5b61;
    }
    .restart-btn {
      background: #7ecbf4;
    }
    .share-btn {
      min-width: 40px;
      max-width: 40px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #8a8a8a;
      border-radius: 4px;
    }
  }
  .trading-process {
    &__header {
      border-bottom: 1px solid #2b2b2b;
      padding: 8px 8px 4px 8px;
      &-title {
        font-size: 10px;
        font-weight: 500;
        line-height: 13.5px;
        color: #8a8a8a;
      }
    }
  }
  .position-history {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
    height: 170px;
    overflow-y: scroll;
    margin-bottom: 21px;
    padding-bottom: 8px;
    border-bottom: 1px solid #2b2b2b;
    &::-webkit-scrollbar {
      display: none;
    }
    &__box {
      display: flex;
      align-items: center;
      gap: 22px;
      justify-content: space-between;
    }
    .status-text {
      min-width: 48px;
      min-height: 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title,
    &__text {
      font-size: 12px;
      font-weight: 400;
      line-height: 16.2px;
      width: 175px;
    }
    &__text {
      color: #8a8a8a;
    }
    .number {
      padding: 2px 3px;
      border-radius: 3px;
      border: 1px solid #2b2b2b;
      font-size: 12px;
      font-weight: 500;
      color: #8a8a8a;
      line-height: 16.2px;
    }
  }
}
// chart sec
main {
  padding-bottom: 50px;
  .header-box {
    border-bottom: 1px solid #2b2b2b;
    padding: 0 8px 4px 8px;
    span {
      font-size: 10px;
      font-weight: 500;
      line-height: 13.5px;
      display: block;
      color: #8a8a8a;
    }
    &.active-header {
      span {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
      }
    }
  }
}

// about-us
.about-us {
  margin-top: 12px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__boxes {
    display: flex;
    align-items: stretch;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 8px;
    border-bottom: 1px solid #2b2b2b;
    .line {
      width: 1px;
      background: #2b2b2b;
    }
  }
  .left-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 175px;
  }
  .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-weight: 500;
    color: #8a8a8a;
  }
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    color: #ebebeb;
  }
  .date-box {
    min-width: 88px;
    text-align: center;
    .date {
      background: #00c9224d;
      border-radius: 12px;
      padding: 0 13px 4px 13px;
      margin-top: 4px;
    }
    .day {
      // font-size: 52px;
      font-size: 36px;
      font-weight: 700;
      line-height: 70.2px;
      letter-spacing: -0.02em;
      color: #ebebeb;
    }
    .month {
      font-size: 22px;
      font-weight: 700;
      line-height: 29.7px;
      letter-spacing: -0.02em;
      color: #ebebeb;
      margin-top: -15px;
    }
  }
  .orbita-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    .orbita-validity {
      font-size: 10px;
      font-weight: 500;
      line-height: 13.5px;
      color: #ebebeb;
      width: 180px;
    }
    .progress-bar {
      display: flex;
      align-items: center;
      gap: 4px;

      .progress-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
      }
      .progress {
        width: 100px;
        height: 16px;
        background: #ebebeb;
        border-radius: 4px;
        overflow: hidden;
        .active-progress {
          background: #00c922;
          width: 16px;
          height: 100%;
        }
      }
    }
  }
  .turbo-mode {
    .header-box {
      border: none;
      padding-bottom: 4px;
    }
    &__btns {
      display: flex;
      gap: 16px;
      border: 1px solid #00c9224d;
      border-radius: 4px;
      padding: 4px;
      button {
        width: 100%;
        border: 1px solid #00c9224d;
        font-size: 12px;
        font-weight: 700;
        line-height: 16.2px;
        color: #ebebeb;
        padding: 8px;
        border-radius: 4px;
        &:focus,
        &:active,
        &:hover {
          background: #00c9224d;
        }
      }
    }
  }
  &__desc {
    font-size: 10px;
    font-weight: 500;
    line-height: 13.5px;
    color: #8a8a8a;
  }
  .activity {
    &-boxes {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom: 1px solid #2b2b2b;
      padding: 8px 0;
    }
    &-box {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-between;
      padding: 0 8px;
      .right-box {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__text {
        font-weight: 500;
        color: #8a8a8a;
        width: 216px;
      }
      &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
      }
      &__status {
        font-size: 10px;
        font-weight: 500;
        line-height: 13.5px;
        color: #8a8a8a;
        padding: 2px 6px;
        border-radius: 4px;
        border: 1px solid #2b2b2b;
        min-width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.img-box {
          border: none;
          padding: 0;
        }
      }
    }
  }
  .invite-friend {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0 8px;
    p {
      color: #8a8a8a;
    }
  }
  .total {
    &-boxes {
      padding: 5px 8px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    &-box {
      border-bottom: 1px solid #2b2b2b;
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding-bottom: 7px;
      .right-box {
        h3 {
          margin-bottom: 2px;
        }
      }
      h3 {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
        margin-bottom: 4px;
      }
      span {
        font-size: 10px;
        font-weight: 500;
        line-height: 13.5px;
        color: #8a8a8a;
      }
      &__status {
        font-size: 10px;
        font-weight: 500;
        line-height: 13.5px;
        padding: 2px 9px;
        border-radius: 4px;
        border: 1px solid #2b2b2b;
        &.success {
          color: #00c922;
        }
        &.danger {
          color: #f20202;
        }
      }
    }
  }
  .invite-btn {
    margin-bottom: 7px;
  }
}
// about-us

// statistic
.statistic {
  margin-top: 16px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .date-box {
    text-align: center;
    span {
      font-weight: 500;
      color: #8a8a8a;
      margin-bottom: 8px;
    }
    .day {
      font-size: 52px;
      font-weight: 700;
      line-height: 70.2px;
    }
    .date {
      padding: 0 12px;
      background: #00c9224d;
      border-radius: 8px;
      width: fit-content;
      margin: 0 auto;
    }
  }
  .stats-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .stat-card {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid #2b2b2b;
      padding: 8px;
      .line {
        width: 1px;
        background: #2b2b2b;
      }
      & > div {
        width: 100%;
        text-align: center;
      }
      span {
        font-size: 10px;
        font-weight: 500;
        line-height: 13.5px;
        color: #8a8a8a;
      }
      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 29.7px;
        letter-spacing: -0.02em;
      }
    }
  }
  .trade-statistics {
    padding-bottom: 4px;
    border-bottom: 1px solid #2b2b2b;
    .share-btn {
      font-size: 10px;
      font-weight: 500;
      line-height: 13.5px;
      color: #8a8a8a;
      padding: 4px 9px;
      border-radius: 4px;
      border: 1px solid #2b2b2b;
      margin: 8px 0 0 auto;
      display: block;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-top: 5px;
      padding: 5px 16px 0 16px;
    }
    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #8a8a8a;
      }
      h3 {
        font-family: Satoshi;
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
      }
    }
  }
  .previous-transactions {
    padding-bottom: 4px;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 27px;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 4px 16px 0 16px;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 26px;
      h3 {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
      }
      span {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #8a8a8a;
        text-align: left;
      }
      .date {
        min-width: 60px;
        margin-left: auto;
      }
      .finance-name {
        min-width: 44px;
      }
      .procent {
        width: 42px;
      }
      .company-name {
        min-width: 75px;
      }
    }
  }
}
// statistic

// politica
.politica {
  margin-top: 12px;
  .politica-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 75px;
    .header-box {
      border-bottom: none;
    }
    .desc {
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      color: #8a8a8a;
      padding: 4px 24px;
      border-top: 1px solid #2b2b2b;
      border-bottom: 1px solid #2b2b2b;
    }
  }
  .primary-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: calc(100% - 32px);
  }
  .fixed-btn {
    position: fixed;
    bottom: 46px;
    left: 16px;
    background: #0f0f0f;
    width: 100%;
    padding: 16px 0;
  }
}
// politica

// footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #0f0f0f;
  border-top: 1px solid #2b2b2b;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      color: #8a8a8a;
      padding: 14px 12px;
      text-transform: uppercase;
      &.active {
        color: #ebebeb;
        border-top: 2px solid #ebebeb;
      }
    }
    .line {
      width: 1px;
      height: 12px;
      background: #2b2b2b;
      border-radius: 2px;
    }
  }
}

// modal
.modal {
  box-shadow: 0px -2px 4px 0px #fffafa59;
  background: #202020;
  padding: 8px 16px 32px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  // transform: translateY(110%);
  // transition: all 0.2s linear;
  // opacity: 0;
  transform: translateY(100%); /* Yashirin holat */
  // transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Harakatni sekinlashtirish */
  // transition: all 0.2s ease-in-out;
  visibility: hidden; /* Dastlab yashirin */
  opacity: 0;
  border-radius: 10px 10px 0 0;
  // display: none;
  &.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    // display: block;
  }

  &-close {
    width: 70px;
    height: 4px;
    background: #b0b0b0;
    border-radius: 100px;
    display: block;
    margin: 0 auto 24px auto;
  }
  .form-box {
    .label {
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      color: #8a8a8a;
      display: block;
      margin-bottom: 8px;
    }
    .form-control {
      border: 1px solid #8a8a8a;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      background: transparent;
      padding: 10px 12px;
      height: 36px;
      width: 200px;
      color: #ebebeb;

      &::placeholder {
        color: #8a8a8a;
      }
    }
    .box {
      padding: 8px 16px 16px 16px;
      border-top: 1px solid #2b2b2b;
      &:first-child {
        border-top: none;
      }
      &-header {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 8px;
        .label {
          margin-bottom: 0;
        }
      }
      .sub-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
        color: #ebebeb;
      }
      .line {
        width: 1px;
        height: 8px;
        border-radius: 2px;
        background: #8a8a8a;
      }
    }
    .select-boxes {
      display: flex;
      gap: 16px;
      margin-right: -16px;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .select-box {
      padding: 8px;
      font-weight: 500;
      color: #ebebeb;
      border-radius: 6px;
      border: 1px solid #8a8a8a;
      white-space: nowrap;

      &.disabled {
        color: #ebebeb4d;
      }
      &.active {
        background: #e5e5e5;
        color: #0f0f0f;
      }
    }
  }
  .flex-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 29.7px;
    color: #ebebeb;
    text-align: center;
  }
  &-desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 20.25px;
    text-align: center;
  }
  &-btns {
    display: flex;
    gap: 24px;
    button {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: center;
    }
  }
  .modal-desc {
    margin: 4px 0 32px 0;
  }
  &-logo {
    margin: 0 auto;
    display: block;
  }
  &.activate-orbita {
    .modal-content {
      max-width: 268px;
      margin: 0 auto 32px auto;
      width: 100%;
    }
    .modal-desc {
      margin-top: 0;
    }
    .selec-price {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .price-box {
      border: 1px solid #00c9224d;
      padding: 8px 16px;
      border-radius: 12px;
    }
    .day {
      font-size: 22px;
      font-weight: 500;
      line-height: 29.7px;
    }
    .price-box {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &.active {
        background: #00c9224d;
        border-color: transparent;
      }
    }
    .price {
      font-size: 22px;
      font-weight: 700;
      line-height: 29.7px;
    }
    .old-price {
      font-size: 15px;
      font-weight: 500;
      line-height: 20.25px;
      color: #ebebeb;
      text-decoration: line-through;
      text-align: right;
    }
    .discount-box {
      font-size: 15px;
      font-weight: 500;
      line-height: 20.25px;
      color: #ebebeb;
      padding: 2px 6px;
      border-radius: 4px;
      border: 1px solid #ebebeb;
      width: fit-content;
      display: block;
    }
  }
  &.subscribe-modal {
    .modal-desc {
      margin: 8px 0;
    }
    .modal-btns {
      margin-top: 32px;
    }
  }
}
