* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input {
  outline: none;
}

body {
  background: #0f0f0f;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: #ebebeb;
  font-size: 12px;
  line-height: 16.2px;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

.status-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
.status-text.success {
  background: rgba(0, 201, 34, 0.3019607843);
  color: #00c922;
  padding: 2px 7px;
  border-radius: 5px;
}
.status-text.danger {
  color: #f20202;
  background: rgba(242, 2, 2, 0.3019607843);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.green-btn {
  background: #00c922;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  color: #0f0f0f;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}
.header button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .company-name {
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.header-flex__box {
  display: flex;
  align-items: center;
}

.intro-header {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #2b2b2b;
}
.intro-header__title {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.intro .edit-btn {
  border: 1px solid #2b2b2b;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  color: #8a8a8a;
}
.intro-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 8px;
}
.intro-info-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.intro-info__boxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.intro-info__box {
  display: flex;
  align-items: center;
  gap: 4px;
}
.intro-info .long-text {
  width: 55px;
}
.intro-info__text {
  color: #8a8a8a;
}
.intro-info .line {
  width: 1px;
  height: 8px;
  border-radius: 2px;
  display: block;
  background: #8a8a8a;
}
.intro-info__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
.intro-bottom__content {
  margin-top: 20px;
}
.intro-bottom__content .intro-info__text {
  min-width: 91px;
}
.intro-bottom__content .intro-info__boxes {
  gap: 8px;
  width: 100%;
}
.intro-bottom__content .intro-info__box {
  justify-content: space-between;
}
.intro-bottom__content .intro-info__title {
  font-weight: 400;
}
.intro-body {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px 0 8px;
}
.intro-body .line {
  width: 1px;
  height: 40px;
  border-radius: 2px;
  background: #2b2b2b;
}

.chart-sec {
  margin-top: 16px;
}
.chart-sec .chart-bg {
  height: 192px;
  border-radius: 8px;
  overflow: hidden;
  background: url(../images/icons/frm.svg) no-repeat;
  background-size: cover;
}
.chart-sec .chart-bg .chart-img {
  width: 100%;
  height: 100%;
}
.chart-sec .chart-btns {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.chart-sec .chart-btns .stop-btn,
.chart-sec .chart-btns .restart-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  color: #0f0f0f;
  border-radius: 4px;
  background: #00c922;
  width: 100%;
  padding: 8px 10px;
}
.chart-sec .chart-btns .stop-btn.stop {
  background: #fd5b61;
}
.chart-sec .chart-btns .restart-btn {
  background: #7ecbf4;
}
.chart-sec .chart-btns .share-btn {
  min-width: 40px;
  max-width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8a8a8a;
  border-radius: 4px;
}
.chart-sec .trading-process__header {
  border-bottom: 1px solid #2b2b2b;
  padding: 8px 8px 4px 8px;
}
.chart-sec .trading-process__header-title {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.chart-sec .position-history {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  height: 170px;
  overflow-y: scroll;
  margin-bottom: 21px;
  padding-bottom: 8px;
  border-bottom: 1px solid #2b2b2b;
}
.chart-sec .position-history__box {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
}
.chart-sec .position-history .status-text {
  min-width: 48px;
  min-height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-sec .position-history__title, .chart-sec .position-history__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  width: 175px;
}
.chart-sec .position-history__text {
  color: #8a8a8a;
}
.chart-sec .position-history .number {
  padding: 2px 3px;
  border-radius: 3px;
  border: 1px solid #2b2b2b;
  font-size: 12px;
  font-weight: 500;
  color: #8a8a8a;
  line-height: 16.2px;
}

main {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #0f0f0f;
  border-top: 1px solid #2b2b2b;
  padding: 0 15px;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer ul a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  padding: 14px 12px;
}
.footer ul a.active {
  color: #ebebeb;
  border-top: 2px solid #ebebeb;
}
.footer ul .line {
  width: 1px;
  height: 12px;
  background: #2b2b2b;
  border-radius: 2px;
}

.modal {
  box-shadow: 0px -2px 4px 0px rgba(255, 250, 250, 0.3490196078);
  background: #202020;
  padding: 8px 16px 32px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: translateY(110%);
  transition: all 0.2s linear;
}
.modal.show {
  transform: translateY(0);
}
.modal-close {
  width: 70px;
  height: 4px;
  background: #b0b0b0;
  border-radius: 100px;
  display: block;
  margin: 0 auto 24px auto;
}
.modal .form-box .label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 8px;
}
.modal .form-box .form-control {
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  background: transparent;
  padding: 10px 12px;
  height: 36px;
  width: 200px;
  color: #ebebeb;
}
.modal .form-box .form-control::-moz-placeholder {
  color: #8a8a8a;
}
.modal .form-box .form-control::placeholder {
  color: #8a8a8a;
}
.modal .form-box .box {
  padding: 8px 16px 16px 16px;
  border-top: 1px solid #2b2b2b;
}
.modal .form-box .box:first-child {
  border-top: none;
}
.modal .form-box .box-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}
.modal .form-box .box-header .label {
  margin-bottom: 0;
}
.modal .form-box .box .sub-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.modal .form-box .box .line {
  width: 1px;
  height: 8px;
  border-radius: 2px;
  background: #8a8a8a;
}
.modal .form-box .select-boxes {
  display: flex;
  gap: 16px;
  margin-right: -16px;
  overflow-x: auto;
}
.modal .form-box .select-boxes::-webkit-scrollbar {
  display: none;
}
.modal .form-box .select-box {
  padding: 8px;
  font-weight: 500;
  color: #ebebeb;
  border-radius: 6px;
  border: 1px solid #8a8a8a;
  white-space: nowrap;
}
.modal .form-box .select-box.active {
  background: #e5e5e5;
  color: #0f0f0f;
}
.modal .form-box .select-box.disabled {
  color: rgba(235, 235, 235, 0.3019607843);
}
.modal .flex-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */