* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input {
  outline: none;
}

body {
  background: #0f0f0f;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: #ebebeb;
  font-size: 12px;
  line-height: 16.2px;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

.status-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
.status-text.success {
  background: rgba(0, 201, 34, 0.3019607843);
  color: #00c922;
  padding: 2px 7px;
  border-radius: 5px;
}
.status-text.danger {
  color: #f20202;
  background: rgba(242, 2, 2, 0.3019607843);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.green-btn,
.primary-btn {
  background: #00c922;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  color: #0f0f0f;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

.primary-btn {
  background: #51a3cf;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  max-width: 768px;
  width: calc(100% - 32px);
  margin: 0 auto;
}
.header button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .company-name {
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.header-flex__box {
  display: flex;
  align-items: center;
}

.intro-header {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #2b2b2b;
}
.intro-header__title {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.intro .edit-btn {
  border: 1px solid #2b2b2b;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  color: #8a8a8a;
}
.intro-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 8px;
}
.intro-info-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.intro-info__boxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.intro-info__box {
  display: flex;
  align-items: center;
  gap: 4px;
}
.intro-info .long-text {
  width: 55px;
}
.intro-info__text {
  color: #8a8a8a;
}
.intro-info .line {
  width: 1px;
  height: 8px;
  border-radius: 2px;
  display: block;
  background: #8a8a8a;
}
.intro-info__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
.intro-bottom__content {
  margin-top: 20px;
}
.intro-bottom__content .intro-info__text {
  min-width: 91px;
}
.intro-bottom__content .intro-info__boxes {
  gap: 8px;
  width: 100%;
}
.intro-bottom__content .intro-info__box {
  justify-content: space-between;
}
.intro-bottom__content .intro-info__title {
  font-weight: 400;
}
.intro-body {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px 0 8px;
}
.intro-body .line {
  width: 1px;
  height: 40px;
  border-radius: 2px;
  background: #2b2b2b;
}

.chart-sec {
  margin-top: 16px;
}
.chart-sec .chart-bg {
  height: 192px;
  border-radius: 8px;
  overflow: hidden;
  background: url(../images/icons/frm.svg) no-repeat;
  background-size: cover;
  border-bottom: 1px solid #2b2b2b;
}
.chart-sec .chart-bg .chart-img {
  width: 100%;
  height: 100%;
}
.chart-sec .chart-btns {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.chart-sec .chart-btns .stop-btn,
.chart-sec .chart-btns .restart-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  color: #0f0f0f;
  border-radius: 4px;
  background: #00c922;
  width: 100%;
  padding: 8px 10px;
}
.chart-sec .chart-btns .stop-btn.stop {
  background: #fd5b61;
}
.chart-sec .chart-btns .restart-btn {
  background: #7ecbf4;
}
.chart-sec .chart-btns .share-btn {
  min-width: 40px;
  max-width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8a8a8a;
  border-radius: 4px;
}
.chart-sec .trading-process__header {
  border-bottom: 1px solid #2b2b2b;
  padding: 8px 8px 4px 8px;
}
.chart-sec .trading-process__header-title {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.chart-sec .position-history {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  height: 170px;
  overflow-y: scroll;
  margin-bottom: 21px;
  padding-bottom: 8px;
  border-bottom: 1px solid #2b2b2b;
}
.chart-sec .position-history::-webkit-scrollbar {
  display: none;
}
.chart-sec .position-history__box {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
}
.chart-sec .position-history .status-text {
  min-width: 48px;
  min-height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-sec .position-history__title, .chart-sec .position-history__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  width: 175px;
}
.chart-sec .position-history__text {
  color: #8a8a8a;
}
.chart-sec .position-history .number {
  padding: 2px 3px;
  border-radius: 3px;
  border: 1px solid #2b2b2b;
  font-size: 12px;
  font-weight: 500;
  color: #8a8a8a;
  line-height: 16.2px;
}

main {
  padding-bottom: 50px;
}
main .header-box {
  border-bottom: 1px solid #2b2b2b;
  padding: 0 8px 4px 8px;
}
main .header-box span {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  display: block;
  color: #8a8a8a;
}
main .header-box.active-header span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}

.about-us {
  margin-top: 12px;
}
.about-us .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-us__boxes {
  display: flex;
  align-items: stretch;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 8px;
  border-bottom: 1px solid #2b2b2b;
}
.about-us__boxes .line {
  width: 1px;
  background: #2b2b2b;
}
.about-us .left-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 175px;
}
.about-us .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__text {
  font-weight: 500;
  color: #8a8a8a;
}
.about-us__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.about-us .date-box {
  min-width: 88px;
  text-align: center;
}
.about-us .date-box .date {
  background: rgba(0, 201, 34, 0.3019607843);
  border-radius: 12px;
  padding: 0 13px 4px 13px;
  margin-top: 4px;
}
.about-us .date-box .day {
  font-size: 36px;
  font-weight: 700;
  line-height: 70.2px;
  letter-spacing: -0.02em;
  color: #ebebeb;
}
.about-us .date-box .month {
  font-size: 22px;
  font-weight: 700;
  line-height: 29.7px;
  letter-spacing: -0.02em;
  color: #ebebeb;
  margin-top: -15px;
}
.about-us .orbita-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.about-us .orbita-date .orbita-validity {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #ebebeb;
  width: 180px;
}
.about-us .orbita-date .progress-bar {
  display: flex;
  align-items: center;
  gap: 4px;
}
.about-us .orbita-date .progress-bar .progress-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.about-us .orbita-date .progress-bar .progress {
  width: 100px;
  height: 16px;
  background: #ebebeb;
  border-radius: 4px;
  overflow: hidden;
}
.about-us .orbita-date .progress-bar .progress .active-progress {
  background: #00c922;
  width: 16px;
  height: 100%;
}
.about-us .turbo-mode .header-box {
  border: none;
  padding-bottom: 4px;
}
.about-us .turbo-mode__btns {
  display: flex;
  gap: 16px;
  border: 1px solid rgba(0, 201, 34, 0.3019607843);
  border-radius: 4px;
  padding: 4px;
}
.about-us .turbo-mode__btns button {
  width: 100%;
  border: 1px solid rgba(0, 201, 34, 0.3019607843);
  font-size: 12px;
  font-weight: 700;
  line-height: 16.2px;
  color: #ebebeb;
  padding: 8px;
  border-radius: 4px;
}
.about-us .turbo-mode__btns button:focus, .about-us .turbo-mode__btns button:active, .about-us .turbo-mode__btns button:hover {
  background: rgba(0, 201, 34, 0.3019607843);
}
.about-us__desc {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.about-us .activity-boxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #2b2b2b;
}
.about-us .activity-box {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  padding: 9px 8px;
}
.about-us .activity-box .right-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about-us .activity-box__text {
  font-weight: 500;
  color: #8a8a8a;
  width: 216px;
}
.about-us .activity-box__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.about-us .activity-box__status {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid #2b2b2b;
  min-width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .activity-box__status.img-box {
  border: none;
  padding: 0;
}
.about-us .invite-friend {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0 8px;
}
.about-us .invite-friend p {
  color: #8a8a8a;
}
.about-us .total-boxes {
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.about-us .total-box {
  border-bottom: 1px solid #2b2b2b;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 7px;
}
.about-us .total-box .right-box h3 {
  margin-bottom: 2px;
}
.about-us .total-box h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
  margin-bottom: 4px;
}
.about-us .total-box span {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.about-us .total-box__status {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  padding: 2px 9px;
  border-radius: 4px;
  border: 1px solid #2b2b2b;
}
.about-us .total-box__status.success {
  color: #00c922;
}
.about-us .total-box__status.danger {
  color: #f20202;
}
.about-us .invite-btn {
  margin-bottom: 7px;
}

.statistic {
  margin-top: 16px;
}
.statistic .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statistic .date-box {
  text-align: center;
}
.statistic .date-box span {
  font-weight: 500;
  color: #8a8a8a;
  margin-bottom: 8px;
}
.statistic .date-box .day {
  font-size: 52px;
  font-weight: 700;
  line-height: 70.2px;
}
.statistic .date-box .date {
  padding: 0 12px;
  background: rgba(0, 201, 34, 0.3019607843);
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.statistic .stats-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.statistic .stats-container .stat-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #2b2b2b;
  padding: 8px;
}
.statistic .stats-container .stat-card .line {
  width: 1px;
  background: #2b2b2b;
}
.statistic .stats-container .stat-card > div {
  width: 100%;
  text-align: center;
}
.statistic .stats-container .stat-card span {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
}
.statistic .stats-container .stat-card h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 29.7px;
  letter-spacing: -0.02em;
}
.statistic .trade-statistics {
  padding-bottom: 4px;
  border-bottom: 1px solid #2b2b2b;
}
.statistic .trade-statistics .share-btn {
  font-size: 10px;
  font-weight: 500;
  line-height: 13.5px;
  color: #8a8a8a;
  padding: 4px 9px;
  border-radius: 4px;
  border: 1px solid #2b2b2b;
  margin: 8px 0 0 auto;
  display: block;
}
.statistic .trade-statistics .list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 5px;
  padding: 5px 16px 0 16px;
}
.statistic .trade-statistics .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistic .trade-statistics .list-item span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
}
.statistic .trade-statistics .list-item h3 {
  font-family: Satoshi;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
.statistic .previous-transactions {
  padding-bottom: 4px;
  border-bottom: 1px solid #2b2b2b;
  margin-bottom: 27px;
}
.statistic .previous-transactions__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px 16px 0 16px;
}
.statistic .previous-transactions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
.statistic .previous-transactions__item h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.statistic .previous-transactions__item span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  text-align: left;
}
.statistic .previous-transactions__item .date {
  min-width: 60px;
  margin-left: auto;
}
.statistic .previous-transactions__item .finance-name {
  min-width: 44px;
}
.statistic .previous-transactions__item .procent {
  width: 42px;
}
.statistic .previous-transactions__item .company-name {
  min-width: 75px;
}

.politica {
  margin-top: 12px;
}
.politica .politica-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.politica .politica-info .header-box {
  border-bottom: none;
}
.politica .politica-info .desc {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  padding: 4px 24px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}
.politica .primary-btn {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #0f0f0f;
  border-top: 1px solid #2b2b2b;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer ul a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  padding: 14px 12px;
  text-transform: uppercase;
}
.footer ul a.active {
  color: #ebebeb;
  border-top: 2px solid #ebebeb;
}
.footer ul .line {
  width: 1px;
  height: 12px;
  background: #2b2b2b;
  border-radius: 2px;
}

.modal {
  box-shadow: 0px -2px 4px 0px rgba(255, 250, 250, 0.3490196078);
  background: #202020;
  padding: 8px 16px 32px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: translateY(110%);
  transition: all 0.2s linear;
  opacity: 0;
  border-radius: 10px 10px 0 0;
}
.modal.show {
  opacity: 1;
  transform: translateY(0);
}
.modal-close {
  width: 70px;
  height: 4px;
  background: #b0b0b0;
  border-radius: 100px;
  display: block;
  margin: 0 auto 24px auto;
}
.modal .form-box .label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 8px;
}
.modal .form-box .form-control {
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  background: transparent;
  padding: 10px 12px;
  height: 36px;
  width: 200px;
  color: #ebebeb;
}
.modal .form-box .form-control::-moz-placeholder {
  color: #8a8a8a;
}
.modal .form-box .form-control::placeholder {
  color: #8a8a8a;
}
.modal .form-box .box {
  padding: 8px 16px 16px 16px;
  border-top: 1px solid #2b2b2b;
}
.modal .form-box .box:first-child {
  border-top: none;
}
.modal .form-box .box-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}
.modal .form-box .box-header .label {
  margin-bottom: 0;
}
.modal .form-box .box .sub-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: #ebebeb;
}
.modal .form-box .box .line {
  width: 1px;
  height: 8px;
  border-radius: 2px;
  background: #8a8a8a;
}
.modal .form-box .select-boxes {
  display: flex;
  gap: 16px;
  margin-right: -16px;
  overflow-x: auto;
}
.modal .form-box .select-boxes::-webkit-scrollbar {
  display: none;
}
.modal .form-box .select-box {
  padding: 8px;
  font-weight: 500;
  color: #ebebeb;
  border-radius: 6px;
  border: 1px solid #8a8a8a;
  white-space: nowrap;
}
.modal .form-box .select-box.active {
  background: #e5e5e5;
  color: #0f0f0f;
}
.modal .form-box .select-box.disabled {
  color: rgba(235, 235, 235, 0.3019607843);
}
.modal .flex-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 29.7px;
  color: #ebebeb;
  text-align: center;
}
.modal-desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 20.25px;
  text-align: center;
}
.modal-btns {
  display: flex;
  gap: 24px;
}
.modal-btns button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.modal .modal-desc {
  margin: 4px 0 32px 0;
}
.modal-logo {
  margin: 0 auto;
  display: block;
}
.modal.activate-orbita .modal-content {
  max-width: 268px;
  margin: 0 auto 32px auto;
  width: 100%;
}
.modal.activate-orbita .modal-desc {
  margin-top: 0;
}
.modal.activate-orbita .selec-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal.activate-orbita .price-box {
  border: 1px solid rgba(0, 201, 34, 0.3019607843);
  padding: 8px 16px;
  border-radius: 12px;
}
.modal.activate-orbita .day {
  font-size: 22px;
  font-weight: 500;
  line-height: 29.7px;
}
.modal.activate-orbita .price-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.modal.activate-orbita .price-box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal.activate-orbita .price-box.active {
  background: rgba(0, 201, 34, 0.3019607843);
  border-color: transparent;
}
.modal.activate-orbita .price {
  font-size: 22px;
  font-weight: 700;
  line-height: 29.7px;
}
.modal.activate-orbita .old-price {
  font-size: 15px;
  font-weight: 500;
  line-height: 20.25px;
  color: #ebebeb;
  text-decoration: line-through;
  text-align: right;
}
.modal.activate-orbita .discount-box {
  font-size: 15px;
  font-weight: 500;
  line-height: 20.25px;
  color: #ebebeb;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
.modal.subscribe-modal .modal-desc {
  margin: 8px 0;
}
.modal.subscribe-modal .modal-btns {
  margin-top: 32px;
}/*# sourceMappingURL=main.css.map */